<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <title>Arcade</title>
</head>
<body>
<h1>Gams</h1>

<!-- temp -->
<hr>
<span id="r1" style="font-size:50px">&#9786;</span>
<span id="r2" style="font-size:50px">&#9786;</span>
<span id="r3" style="font-size:50px">&#9786;</span>
<span id="r4" style="font-size:50px">&#9786;</span>
<hr>
<!-- temp -->

<br>
Correct: <span id="correct">0</span>
<br>
Wrong: <span id="wrong">0</span>
<br>
No answer: <span id="missed">0</span>


<script>
    function keyHandler(keyCode) {
        if (current == translatekey(keyCode)) {
            $('#correct').text(++correct);
        } else {
            $('#wrong').text(++wrong);
        }
        ready = false;
    }
    $(function(){
        gameBlink();
    });
</script>


</body>
</html>
