<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <title>BREINHELD - REACTIESPEL</title>
</head>
<body id="game_start" class="back_brown">

<section class="back_green container">
    <div>
        <h2>spelregels:</h2>
        1. Het spel begint als je op de groene A knop drukt<br>
        2. Druk zo snel mogelijk op de knop die gaat branden<br>
        3. Snel drukken levert punten op. Let op! DRUKKEN niet SLAAN ;-)<br>
        4. Verkeerd of te laat drukken = een strafpunt
    </div>
</section>
<div class="virtual_right">
    <!-- <div class="left p50">
        Druk op een knop<br>
        om te starten
    </div> -->
</div>

<script>
    function keyHandler(keyCode) {
        location.href = 'game_run';
    }

    $(function () {
        ready = true;
        start();
    });
</script>


</body>
</html>
