<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <title>BREINHELD - REACTIESPEL</title>
</head>
<body id="game" class="back_brown">
<h2>BREINHELD</h2>
<h1>REACTIESPEL</h1>
<div class="right">
    <h2>TEST JE SNELHEID!</h2>
</div>

<section class="back_green">
    <div class="container">
        <h3>spelregels:</h3>
        1. Het spel begint als je op de lichtgevende knop drukt<br>
        2. Druk zo snel mogelijk op die knop die oplicht<br>
        3. Snel drukken levert punten op<br>
        4. Verkeerd drukken = een strafpunt
    </div>
</section>
<div class="virtual_right">
    <div class="left p50">
        Druk op een knop<br>
        om te starten
    </div>
</div>

<script>
    function keyHandler(keyCode) {
        //if (current == translatekey(keyCode))
        {
            location.href='game_run';
        }
    }
    $(function(){
        ready = true;
        startGame();
    });
</script>


</body>
</html>
