<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/framework.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <title>MASTERMIND</title>
</head>
<body id="index" class="back__blue">
<center>
    <img width="800" src="static/img/start.jpg">
</center>
<div id="codeContainer">
    <div>
        <input type="text" id="code1" maxlength="1" class="field" autofocus onkeyup="goNext(2)">
        <input type="text" id="code2" maxlength="1" class="field" onkeyup="goNext(3)">
        <input type="text" id="code3" maxlength="1" class="field">
        <button onclick="goNext(4)">&nbsp;</button>
    </div>
</div>
<div id="remoteContainer">
    <div>
        <span id="code1" onclick="addCode(1)">&nbsp;</span>
        <span id="code2" onclick="addCode(2)">&nbsp;</span>
        <span id="code3" onclick="addCode(3)">&nbsp;</span>
        <span id="code4" onclick="addCode(4)">&nbsp;</span>
        <span id="code0" onclick="addCode(0)">&nbsp;</span>
    </div>
</div>
<script>
    function keyHandler(keyCode) {
        console.log(keyCode);
        // if (keyCode == 115) { //s
        //     switchOff(18); //1st button
        //     location.href = '/run';
        // }
    }

    $(function () {
        document.getElementById('code1').value = '';
        document.getElementById('code2').value = '';
        document.getElementById('code3').value = '';
        document.getElementById('code1').focus();

        ready = true;
        clearTimeout(inactiveTimer);
    });
</script>

</body>
</html>
