<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <title>BREINHELD - FILM</title>
</head>
<body id="movie" class="back_green">

<video width="640" height="480" autoplay loop>
    <source src="../static/introscherm.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<hr>

<script>
    function keyHandler(keyCode) {
        alert(keyCode);
    }
    $(function(){
        //gameBlink();
    });
</script>


</body>
</html>
