<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <title>BREINHELD - QUIZ</title>
</head>
<body id="quiz_start" class="back_brown">

<section class="back_green container">
    <div>
        <h2>spelregels:</h2>
        1. Je krijgt 5 vragen over hersenletsel<br>
        2. Je hebt 25 seconden per vraag<br>
        3. Speel met de knoppen a,b,c en d<br>
    </div>
</section>

<section class="back_green container">
    <h2>druk op de groene A knop om te starten</h2>
</section>

<script>
    function keyHandler(keyCode) {
        //if (current == translatekey(keyCode))
        {
            location.href = 'quiz_run';
        }
    }

    $(function () {
        ready = true;
        start();
    });
</script>


</body>
</html>
