@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Regular';
    src: url('../fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Bold';
    src: url('../fonts/Teko-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Light';
    src: url('../fonts/Teko-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Medium';
    src: url('../fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-SemiBold.ttf';
    src: url('../fonts/Teko-SemiBold.ttf') format('truetype');
}

.hidden {
    display: none;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.virtual_right {
    float: right;
}

.p50 {
    padding: 50px;
}

.back__black {
    background-color: #000000;
    color: #ffffff;
}
.back__blue {
    background-color: #2E2D95;
    color: #ffffff;
}

.table {
    display: table;
    width: 100%;
}

.table .cell {
    display: table-cell;
}

.table .cell:first-child {
    width: 30%;
}

.container {
}

.center {
    text-align: center;
}

.container.center{
}

#progress {
    background: #ddd92e url('../img/quiz-vraag-timer-vulling.png') top right no-repeat;
    background-size: auto 100%;
    border: 2px #603813 solid;
    border-radius: 35px;
    overflow: hidden;
}

#bar {
    width: 1%;
    height: 30px;
}
/*main layout*/
body {
    padding-top: 0;
    font-size: 4vh;
    font-family: 'PressStart2P', sans-serif;
    margin: auto;

    /* max screen width for center block */
    max-width: 1024px;

    /* The 95% and 2vh can vary, depending on the topscreen offset  */
    background-position-y: 40px !important;
    background-size: auto 90% !important;
}