@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Regular';
    src: url('../fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Bold';
    src: url('../fonts/Teko-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Light';
    src: url('../fonts/Teko-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-Medium';
    src: url('../fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko-SemiBold.ttf';
    src: url('../fonts/Teko-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'VT323-Regular';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

.hidden {
    display: none;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.virtual_right {
    float: right;
}

.p50 {
    padding: 50px;
}

.back__black {
    background-color: #000000;
    color: #ffffff;
}
.back__blue {
    background-color: #761E1D;
    color: #ffffff;
}

.center {
    text-align: center;
}

#progress {
    background: #ddd92e url('../img/quiz-vraag-timer-vulling.png') top right no-repeat;
    background-size: auto 100%;
    border: 2px #603813 solid;
    border-radius: 35px;
    overflow: hidden;
}

#bar {
    width: 1%;
    height: 30px;
}
a {
    color: #fff;
    text-decoration: none;
}
/*main layout*/
body {
    padding-top: 0;
    font-size: 1.4em;
    font-family: 'VT323-Regular', sans-serif;
    margin: auto;

    /* max screen width for center block */
    max-width: 1024px;

    /* The 95% and 2vh can vary, depending on the topscreen offset  */
    background-position-y: 40px !important;
    background-size: auto 90% !important;
}

.field:first-child {
    margin-left: 5px;
}

.field {
    line-height: 75px;
    width: 60px;
    margin-right: 25px;
    color: #fff;
    background: transparent;
    font-size: 77px;
    font-family: 'VT323-Regular';
    text-align: center;
    border: none;
}

#codeContainer {
    position: absolute;
    top: 224px;
    width: 100%;
    left: 0;
    text-align: center
}

.submitButton {
    position: absolute;
    /* top: 364px; */
    width: 125px;
    left: 0;
    text-align: center;
    margin-left: calc(50% + 225px);
    height: 50px;
    margin-top: -103px;
    cursor: pointer;
    border-width: 0;
    background: transparent;
}

#codeContainer > div {
    width: 400px;
    display: inline-block;
    text-align: left;
}

#codeContainer > div > button {
    float: right;
    padding: 25px 63px;
    margin-top: 137px;
    background: transparent;
    border-width: 0;
    cursor: pointer;
}

#remoteContainer {
    display: inline-block;
    /* position: absolute; */
    margin-top: -221px;
    font-size: 83px;
    margin-left: calc(50% - 297px);
    text-align: center;
    width: 456px;

}
#remoteContainer>div {
    display: inline-block;
    position: absolute;
    margin-top: -131px;
    margin-left: -212px;
}
#remoteContainer>div>span {
    display: inline-block;
    width: 59px;
    text-align: center;
    cursor: pointer;
}
textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}